body {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;



}

header {
    display: flex;
    justify-content: flex-start;
    /* border: 5px solid black; */
    min-height: 100px;
    z-index: 5;
    background-color: white;

}


nav {
    display: flex;
    /* border: 5px solid rgb(0, 255, 217); */
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 160px;

}

#menu-icon {
    display: none;
}

#mobileLine {
    display: none;
}

#headerLogoDiv {
    display: flex;
    align-items: center;
    padding-left: 170px;
    width: 180px;
}

#headerLogo {
    width: 100%;

}

.linksDiv {

    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    gap: 30px;

}

.menuLink {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: 600;
    font-size: 16px;
}

.navBtnsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px


}

main {
    display: flex;
    justify-content: center;



}

#titleStartedInfo {
    font-size: 70px;
    line-height: 75px;
    color: hsl(260, 8%, 14%);
    margin-bottom: 5px;
    margin-top: 70px;
    font-weight: 700;
}

#pStartedInfo {
    margin-top: 0;
    font-size: 18px;
}

#illustImg {

    width: 160%;


}



p {
    color: hsl(257, 7%, 63%);
    font-weight: 500;
}




#input {
    width: 80%;
    height: 43px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;


}

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 40%;
    padding-bottom: 130px;
}


.getStartedDiv {
    display: flex;
    flex-direction: row;
    /* height: 35vh; */

}

.getStartedInfo {
    width: 60%;
}

.getStartedPic {
    width: 40%;
}

.shortUrlDiv {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 120px;
    background-image: url(./images/bg-shorten-desktop.svg);
    background-color: hsl(255, 11%, 22%);
    border-radius: 10px;
    margin-top: 20px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#greyBgDiv {
    position: absolute;
    top: 60px;
    /* left: 0; */
    background-color: hsla(230, 25%, 95%, 1);
    width: 99.3vw;
    height: 110vh;
    z-index: -1;
}

.advStatDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsla(230, 25%, 95%, 1);
    /* background */
    /* height: 200vh; */



}

#advStatTitle {
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 40px;
    color: hsl(255, 11%, 22%);
}

#advStatP {
    margin-top: 10px;
    margin-bottom: 80px;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

#squaresDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.square {
    position: relative;
    background-color: white;
    padding: 20px;

}

.urlDiv {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    border-radius: 8px;
    /* margin-left: 15px; */

}



.shortUrlBtn {
    display: flex;
    align-items: center;
    gap: 40px;

}

#lineDiv {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: hsl(180, 66%, 49%);
    top: 50%;
}

.icon {
    top: -30px;
    position: absolute;
    border: 1px solid black;
    width: 30px;
    padding: 16px;
    border-radius: 100%;
    overflow: visible;
    background-color: hsl(255, 11%, 22%);


}

.squareTitle {
    margin-top: 40px;
    color: hsl(255, 11%, 22%);
    font-weight: 700;
    font-size: 18px;

}

.squareText {
    font-size: 16px;
    font-weight: 500;
}

#brandSquare {
    margin-bottom: 100px;
}

#recordsSquare {
    margin-top: 50px;
    margin-bottom: 50px;
}

#customizeSquare {
    margin-top: 100px;

}

#boostLinkDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    background-image: url(./images/bg-boost-desktop.svg);
    background-color: hsl(255, 11%, 22%);
    background-size: cover;
}

#boostTitle {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}


#footerDiv {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    height: 20vh;
    background-color: hsl(260, 8%, 14%);
    padding-top: 80px;
}

#footer {
    display: flex;
  flex-shrink: 0;
}

#footerLogo {
    filter: brightness(0) invert(1);
    width: 170px;
    height: 45px;
}

.footerColumn {
    display: flex;
    flex-direction: column;

}

.footerLink {
    text-decoration: none;
    color: white
}

.footerTitle {

    margin-top: 0;
}

#socialIconsDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 150px;


}

#shortenLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
    /* overflow: auto; */
}


/* Btns */

.mainBtn {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

#btnSubmit {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer;


}

#signUpBtn {
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-top: 0;
    margin-left: 30px;
}

.copyBtn {
    margin-top: 0;
    margin-right: 15px;
    padding: 0;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    width: 90px;
    height: 38px;
    cursor: pointer;

    background-color: hsl(180, 66%, 49%);
    border: none;

    color: white;


}

.longUrl {
    margin-left: 15px;
    color: hsl(255, 11%, 22%);
}

input::placeholder {
    padding-left: 10px;
    font-weight: 500;
}

#modalWindow {
    display: none;
    position: absolute;
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.100s ease-out, opacity 0.100s ease-out;
    background-color:  hsl(255, 11%, 22%);
    border-radius: 15px;
    box-shadow: 0px 0px 76px -7px hsl(180, 83%, 16%);
    opacity: 0;
}

#modalWindow.active {
    display: flex;
    transform: translate(-50%, -80%) scale(1);
    opacity: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#modalWindowText {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 26px;

}

#excIconDiv {
    display: flex;
     align-items: center;
    justify-content: center;
}

#excIcon {
    width: 100px;
    height: 70px;
    filter: invert(1);
}

@media (max-width: 2000px) {
    .container {
        width: 65%;
    }
}


@media (max-width: 1300px) {
    .container {
        width: 70%;
    }

    .linksDiv {
        gap: 10px;
    }

    header {
        min-height: 80px;

    }

    #illustImg {
        margin-top: 50px;
        width: 140%;
    
    
    }
}


@media (max-width: 1000px) {
    .container {
        width: 75%;
    }
    #headerLogoDiv {
        padding-left: 20px;
        width: 150px;
    }

    .linksDiv {
        gap: 30px;

    }

    .navBtnsDiv {
        margin-left: 30px;
    }
}

@media (max-width: 900px) {

    .linksDiv {
        gap: 10px;

    }
    #headerLogo {
        width: 450px;
    }

    .getStartedDiv{
        overflow-x: hidden;
    }

    #illustImg {
        width: 500px;
    }

    #titleStartedInfo{
        font-size: 55px;
    }

}

@media (max-width: 700px) {

    #illustImg {
        padding-left: 10px;
    }

    #menu-icon {
        position: absolute;
        display: block;
        top: 10px;
        right: 30px;
        border: none;
        background: none;
        font-size: 50px;
        cursor: pointer;
        color:hsl(255, 11%, 22%) ;
    }


    #greyBgDiv {
        top: 74px;
        height: 180vh;
    }

    #boostLinkDiv {
        height: 25vh;
    }

    .container {
        width: 95%;
        padding: 0;
        margin-bottom: 40px;
    }

    nav {
        padding-top: 10px;
        padding-bottom: 25px;
        position: absolute;
        top: -700px;
        flex-direction: column;
        background-color: hsl(257, 27%, 26%);
        border-radius: 15px;
        width: 80%;
        margin: 0;
        right: 45px;
        height: 350px;
        justify-content: space-around;
        align-items: center;
        transition: 0.2s;
        z-index: 4;

    }

    .navShown {
        top: 100px;





    }

    #mobileLine {
        display: block;
        text-align: center;
        height: 1px;
        background-color: hsl(258, 6%, 35%);
        width: 80%;
        margin: 0 auto;


    }

    .linksDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menuLink {
        padding: 20px;
        color: white;
        font-size: 18px;

    }

    #signUpBtn {
        width: 300%;
    }

    .navBtnsDiv {
        display: flex;
        flex-direction: column;
        margin: 0;


    }

    #signUpBtn {
        margin: 0;
    }



    #headerLogoDiv {
        padding: 0;
        margin-left: 40px;
        margin-top: 20px;
    }

    #footerDiv {
        flex-direction: column;
        height: 60vh;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .footerColumn {
        align-items: center;
    }

    .footerTitle {
        margin: 0;
        padding-bottom: 8px;
    }

    #boostTitle {
        font-size: 35px;
    }

    #squaresDiv {
        flex-direction: column;
        width: 80%;
        gap: 10px;

    }

    .square {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Horizontal alignment*/
        align-items: center;
        /* Vertical alignment */
    }

    .squareText {
        text-align: center;

    }

    #advStatP {
        width: 80%;
    }

    #brandSquare {
        margin: 0;
    }

    #customizeSquare {
        margin: 0;
    }

    .icon {
        width: 40px;
        top: -35px;
    }

    .squareTitle {
        margin-bottom: 0;
    }

    #lineDiv {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .shortUrlDiv {
        height: 150px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #advStatTitle {
        margin-top: 0;
    }

    #form {
        flex-direction: column;
        gap: 10px;
    }

    #btnSubmit {
        width: 100%;
        margin: 0;
        font-size: 18px;
        padding: 0;

    }

    #input {
        margin: 0;
        width: 100%;
        padding: 0;
        text-indent: 10px;

    }



    #advStatDiv {
        margin-top: 100px;
    }

    #shortenLinks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
    }

    .urlDiv {
        flex-direction: column;
        width: 92%;
        /* padding: 20px; */
    }

    .shortUrlBtn {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        position: relative;
    }

    .longUrl {
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
    }

    #shortUrl {
        margin-left: 20px;
    }

    .copyBtn {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    #mobileLineDivider {
        position: absolute;
        height: 1px;
        background-color: hsl(257, 20%, 80%);
        width: 92%;
        margin: 0 auto;
        top: 45%;
    }

    .getStartedDiv {
        width: 90%;
        align-self: center;
        flex-direction: column;
        overflow-x: hidden;


    }

    .getStartedInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        order: 1;
        margin-bottom: 30px;
    }

    .getStartedPic {
        order: 0;
        width: 90%;
    }

    #titleStartedInfo {
        font-size: 55px;
        text-align: center;
        margin-top: 25px;
        font-weight: 800 !important;
    }

    #pStartedInfo {
        text-align: center;
        font-size: 17px;
        padding: 0;
    }

    }


    @media (max-width: 600px) {
        .container {
            width: 95%;
        }
    }

    @media (max-width: 450px) {
        .container {
            width: 100%;
        }

        #menu-icon {
            position: absolute;
            display: block;
            top: 10px;
            /* right: 50px; */
            border: none;
            background: none;
            font-size: 50px;
            cursor: pointer;
            color:hsl(255, 11%, 22%) ;
            
        }




    }