body {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins';
   
    

}

header {
    display: flex;
    justify-content: flex-start;
    /* border: 5px solid black; */
    min-height: 100px;

}


nav {
    display: flex;
    /* border: 5px solid rgb(0, 255, 217); */
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 160px;

}

#menuToggleDiv {
    display: none;
}

#mobileLine {
    display: none;
}

#headerLogoDiv {
    display: flex;
    align-items: center;
    padding-left: 170px;
    width: 180px;
}

#headerLogo {
    width: 100%;

}

.linksDiv {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;

}

.menuLink {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: 600;
    font-size: 16px;
}

.navBtnsDiv {
    display: flex;
    justify-content: center;
    align-items: center;


}

main {
    display: flex;
    justify-content: center;
    
    
    
}

#titleStartedInfo {
    font-size: 70px;
    line-height: 75px;
    color: hsl(260, 8%, 14%);
    margin-bottom: 5px;
    margin-top: 70px;
    font-weight: 700;
  }
  
  #pStartedInfo {
      margin-top: 0;
      font-size: 18px;
  }
  
  #illustImg {

    width: 160%;


  }
  
  
  
  p {
      color: hsl(257, 7%, 63%);
      font-weight: 500;
  }

  


  #input {
    /* width: 700px; */
    width: 80%;
    padding-left: 20px;
    height: 43px;
    border-radius: 5px;
    border: none;
    
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 40%;
    padding-bottom: 130px;
}


.getStartedDiv {
    display: flex;
    flex-direction: row;
    /* height: 35vh; */
}

.getStartedInfo {
    width: 60%;
}

.getStartedPic {
    width: 40%;
}

.shortUrlDiv {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 120px;
    background-image: url(./images/bg-shorten-desktop.svg);
    background-color: hsl(255, 11%, 22%);
    border-radius: 10px;
    margin-top: 20px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#greyBgDiv {
    position: absolute;
    top: 60px;
    background-color: hsla(230, 25%, 95%, 1);
    width: 99.3vw;
    height: 110vh;
    z-index: -1;
}

.advStatDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsla(230, 25%, 95%, 1);
    /* height: 200vh; */



}
#advStatTitle {
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 40px;
    color: hsl(255, 11%, 22%);
}

#advStatP {
    margin-top: 10px;
    margin-bottom: 80px;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

#squaresDiv {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.square {
    position: relative;
    background-color: white;
    padding: 20px;

}

.urlDiv {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    border-radius: 8px;
    /* margin-left: 15px; */

}



.shortUrlBtn {
    display: flex;
    align-items: center;
    gap: 40px;

}

#lineDiv {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: hsl(180, 66%, 49%);
    top: 50%;
}

.icon {
    top: -30px;
    position: absolute;
    border: 1px solid black;
    width: 30px;
    padding: 16px;
    border-radius: 100%;
    overflow: visible;
    background-color: hsl(255, 11%, 22%);

    
}

.squareTitle {
    margin-top: 40px;
    color: hsl(255, 11%, 22%);
    font-weight: 700;
    font-size: 18px;

}

.squareText {
    font-size: 16px;
    font-weight: 500;
}

#brandSquare {
    margin-bottom: 100px;
}

#recordsSquare {
    margin-top: 50px;
    margin-bottom: 50px;
}

#customizeSquare {
    margin-top: 100px;

}

#boostLinkDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    background-image: url(./images/bg-boost-desktop.svg);
    background-color: hsl(255, 11%, 22%);
    background-size: cover;
}

#boostTitle {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}


#footerDiv {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    height: 20vh;
    background-color: hsl(260, 8%, 14%);
    padding-top: 80px;
}

#footerLogo {
    filter: brightness(0) invert(1);
    width: 170px;
    height: 45px;
}

.footerColumn {
    display: flex;
    flex-direction: column;

}

.footerLink {
    text-decoration: none;
    color: white
}

.footerTitle {

    margin-top:0;
}

#socialIconsDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 150px;

    
}


/* Btns */

.mainBtn {
    background-color: hsl(180, 66%, 49%);
    border:none;
    border-radius:25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

#btnSubmit {
    background-color: hsl(180, 66%, 49%);
    border:none;
    border-radius:10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer;


}

#signUpBtn {
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-top: 0;
    margin-left: 30px;
}

#copyBtn {
    margin-top: 0;
    margin-right: 15px;
    padding: 0;
    border-radius:10px;
    font-size: 14px;
    font-weight: 700;
    width: 90px;
    height: 38px;
    cursor: pointer;

}

.longUrl {
    margin-left: 15px;
    color: hsl(255, 11%, 22%);
}



@media (max-width: 2000px)  {
    .container {
        width: 65%;
    }
}


@media (max-width: 1300px)  {
    .container {
        width: 70%;
    }
}

@media (max-width: 1000px)  {
    .container {
        width: 75%;
    }
}

@media (max-width: 700px)  {
   nav {
    padding-top: 10px;
    padding-bottom: 25px;
    position: absolute;
    top: 100px;
    flex-direction: column;
    background-color:  hsl(257, 27%, 26%);
    border-radius: 15px;
    width: 80%;
    margin: 0;
    right: 45px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    
   }
   #mobileLine {
    display: block;
    text-align: center;
    height: 1px;
    background-color: hsl(257, 7%, 63%);
    width: 80%;
    margin: 0 auto;
    

   }

   .linksDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   .menuLink {
    padding: 20px;
    color: white;
    font-size: 18px;

   }

   #signUpBtn {
    width: 300%;
   }

   .navBtnsDiv {
    display: flex;
    flex-direction: column;

   }

   #signUpBtn {
    margin: 0;
   }

   #menuToggleDiv {
    display: flex;
    display: block;
    position: relative;
    /* width: 100px;
    height: 100px; */
}

#menu-toggle{
    bottom: 380px;
    left: 190px;
    position: absolute;
    font-size: 50px;
    color: hsl(0, 0%, 75%);
}

#headerLogoDiv{
    padding: 0;
    margin-left: 40px;
}

#footerDiv {
    flex-direction: column;
    height: 50vh;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footerColumn {
    align-items: center;
}

.footerTitle {
    margin: 0;
    padding-bottom: 8px;
}

#boostTitle {
    font-size: 35px;
}

#squaresDiv {
    flex-direction: column;
    width: 80%;
    
}

#square {
    /* display: flex; */
    /* justify-content: center;
    flex-direction: column; */
    /* align-items: center; */

}

.squareText {

}


@media (max-width: 600px)  {
    .container {
        width: 85%;
    }
}

@media (max-width: 500px)  {
    .container {
        width: 100%;
    }
}

